<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equi
	v="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>URL_Shortener</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
	<h1 class="text-center m-2">URL Shortener</h1>
	<div class="text-center">
		<img class="rounded m-2"  style="width: 150px" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" />
	</div>
	{{{ body }}}
	<script src="/javascript/popper.js"></script>
	<script src="/javascript/bootstrap.js"></script>
</body>

</html>